body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #F5FFF9;
  color: #282828;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #00A582;
}

h2 {
  color: #1C545F;
}

#quiz {
  margin: 20px 0;
}

button {
  background: #00A582;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  background: #73FFD2;
  color: #282828;
  transform: scale(1.05);
}

.hidden {
  display: none;
}

#result {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#result img {
  max-width: 250px;
  border-radius: 8px;
  margin: 15px auto;
  display: block;
}

/* стилі для галереї */
.gallery {
  display: flex;
  padding: 24px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  background: #F1F8FF;
  border-radius: 24px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.16);
}

.gallery-item {
  width: 140px;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-item p {
  margin: 8px 0;
  font-size: 14px;
  font-weight: 600;
  color: #282828;
}
